body {
    font-family: Arial;
    background: #f0f2f5;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
